:root {
    /* colors */
    --primary: #034C81;
    --secondary: #F7931E;
    --tertiary: rgba(3, 76, 129, 0.8);
}
@font-face{
    font-family: futura;
    src: url("Gill Sans MT Light.ttf");
}
*{
    margin: 0;
    padding: 0;
    font-family: futura;
}
.nav-link{
    color: var(--primary);
}
.home{
    border-bottom: solid rgb(31, 59, 153) 2px;   
}
.nav-toggler span{
    background-color: rgb(31, 59, 153);
}
.nav-item{
    font-weight: 700;
    padding-right: 2rem;
}
.nav-item button{
    background-color: rgb(31, 59, 153);
    box-shadow: rgba(95, 94, 94, 0.7) 0.01rem 0.05rem 0.01rem 0.05rem;
    width: 7rem;
    height: 2rem;
    color: white;
    border-radius: 1rem;
    border: none;
}
.bg{
    background-color: rgba(172, 185, 211, 0.5);
    height: 4rem;
}
.bg-gray{
    background-color: rgba(172, 185, 211, 0.2);
}
.features{
    color: rgb(53, 86, 197);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-bottom: 2rem;
}
h3{
    color: var(--primary);
}
.yellow{
    background-color: yellow;
}
.gray{
    background-color: #9da7a6c4;
}
.blue{
    background-color: rgb(53, 86, 197);
    color: white;
    text-align: center;
}
header{
    position: relative;
    background-color: #ffffff;
}
.wave{
    margin-top: -10%;
}
.carousel-item{
    color: var(--primary);
    
}
.card-body{
    background-color: #ffff;
    margin: auto;
    border-radius: 1rem;
    width: 50%;
}
.text-center img{
    width: 20%;
    border-radius: 50%;
}
.fa-bars{
    color:var(--primary) ;
}

button:focus{
    outline: rgb(149, 124, 124);
}
.download{
    position: relative;
    background-color: #ffffff;
    padding: 0.5rem;
    font-weight: 700;
    margin-left: 1rem;
    border-radius: 0.5rem;
    border: solid 1px;
}

@media screen and (max-width:768px){
    body{
        font-size: 0.5rem;
    }
    h3{
        font-size: 1rem;
    }
    .navbar-collapse{
        text-align: center;
        font-size: 1rem;
        background-color: rgb(172, 185, 211);
    }
   .bg{
       height: 3rem;
   } 
}
